<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="kr.kina.mappers.MemberMapper">

<insert id="signUp">
	insert into member
	(id, password, name, email, phone, address, infoEmail, infoSMS)
	values
	(#{id}, #{password}, #{name}, #{email}, #{phone}, #{address}, #{infoEmail}, #{infoSMS})
</insert>

<select id="loginCheck" resultType="kr.kina.domain.MemberVO">
	select id, password from
	member idx
	where id=#{id} and password=#{password} 
</select>

</mapper>