<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="kr.kina.mappers.SearchMapper">

<select id="searchArtist" parameterType="String" resultType="kr.kina.domain.ArtistVO">
	select artist
	from artists
	where artist
	like CONCAT('%', #{queryText}, '%')
</select>

<select id="searchSong" parameterType="String" resultType="kr.kina.domain.SongVO">
	select title, artist, album, duration, tracknum, filepath
	from song
	where title 
	like CONCAT('%', #{queryText}, '%') 
</select>

<select id="searchAlbum" parameterType="String" resultType="kr.kina.domain.AlbumVO">
	select
	album, artist, genre, releasedate, albumid
	from album
	where album 
	like CONCAT('%', #{queryText}, '%') 
</select>

<select id="listArtist" resultType="kr.kina.domain.ArtistVO">
	select artist
	from artists
	where artist like CONCAT('%', #{keyword}, '%')
	limit #{pageStart}, #{pageNum}
</select>

<select id="listSong" resultType="kr.kina.domain.SongVO">
	select title, artist, album, duration, tracknum, filepath
	from song
	where title like CONCAT('%', #{keyword}, '%')
	limit #{pageStart}, #{pageNum}
</select>

<select id="listAlbum" resultType="kr.kina.domain.AlbumVO">
	select 
	album, artist, genre, releasedate, albumid
	from album
	where album like CONCAT('%', #{keyword}, '%')
	limit #{pageStart}, #{pageNum}
</select>
</mapper>