<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="kr.kina.mappers.SearchMapper">

<select id="searchArtist" parameterType="String" resultType="kr.kina.domain.ArtistVO">
	select
	@rownum:=@rownum+1 as rownum, a.*
	from
	(
		select artist
		from artists
		where artist
		like CONCAT('%', #{queryText}, '%')
	)a,
	(select @rownum:=0) R
	
</select>

<select id="searchSong" parameterType="String" resultType="kr.kina.domain.SongVO">
	select
	@rownum:=@rownum+1 as rownum, b.*
	from
	(
		select title, artist, album, duration, tracknum, filepath
		from song
		where title 
		like CONCAT('%', #{queryText}, '%')
	)b,
	(select @rownum:=0) R	 
</select>

<select id="searchAlbum" parameterType="String" resultType="kr.kina.domain.AlbumVO">
	select
	album, artist, genre, releasedate
	from album
	where album 
	like CONCAT('%', #{queryText}, '%')
</select>

</mapper>